body {

background-color:#de4c8a ;
font-family: arial;
}
  
.ubicacion { 
background-color:#D8BFD8;
font-family: arial;
}

.contacto { 
background-color: #f36767 ;
font-family: arial;
}
